*.egg-info/
.coverage
.pytest_cache
__pycache__
coverage.xml
database.db
local_config.py
test.db

# Reggae
.provisioned
ansible/group_vars/all
ansible/inventory/inventory
ansible/roles/*
ansible/site.yml
!ansible/roles/.keep
!ansible/roles/devel
fstab
project.mk
site.retry
vars.mk

build/
cbsd.conf
dist/
