<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    {% include 'swagger-ui-css.html' %}
    {% include 'swagger-ui-libs.html' %}
    <script type="text/javascript">
        $(function () {
            window.swaggerUi = new SwaggerUi({
                url: "{{ specs_url }}",
                validatorUrl: "{{ config.SWAGGER_VALIDATOR_URL }}" || null,
                dom_id: "swagger-ui-container",
                supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch'],
                onComplete: function(swaggerApi, swaggerUi){
                    if(typeof initOAuth == "function") {
                        /*
                        initOAuth({
                            clientId: "your-client-id",
                            realm: "your-realms",
                            appName: "your-app-name"
                        });
                        */
                    }
                    $('pre code').each(function(i, e) {
                        hljs.highlightBlock(e)
                    });
                },
                onFailure: function(data) {
                    log("Unable to Load SwaggerUI");
                },
                docExpansion: "{{ config.SWAGGER_UI_DOC_EXPANSION | default('none') }}"
            });

            if ($('#input_apiKey').val() === '' && window.localStorage.oneLoveToken) {
              $('#input_apiKey').val(
                window.localStorage.oneLoveToken.replace(
                  'JWT ',
                  ''
                )
              );
            }
            $('#input_apiKey').change(function() {
              var key = "JWT " + $('#input_apiKey')[0].value;
              if(key && key.trim() != "") {
                window.swaggerUi.api.clientAuthorizations.add(
                  "key",
                  new SwaggerClient.ApiKeyAuthorization(
                    "Authorization",
                    key,
                    "header"
                  )
                );
                window.localStorage.oneLoveToken = key;
              }
            });
            window.swaggerUi.load();
        });

        $(function() {
          $('#input_apiKey').change();
        });
    </script>
</head>

<div id='header'>
  <div class="swagger-ui-wrap">
    <a id="logo" href="http://swagger.wordnik.com">swagger</a>
    <form id='api_selector'>
      <div class='input'>
        <input placeholder="token" id="input_apiKey" name="apiKey" type="text"/>
      </div>
      <div class='input'><a id="explore" href="#">Explore</a></div>
    </form>
  </div>
</div>

<body class="swagger-section">
    <div id="message-bar" class="swagger-ui-wrap">&nbsp;</div>
    <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
</body>
</html>
